body {
  font-family: 'Roboto', sans-serif;
}

#circles-slider.ui-slider {
  border-radius: 3px;
    background: #9f9f9f;
    border: none;
    height: 3px;
    margin: 8em 5em 4em; }

#circles-slider .ui-slider-handle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    top: -15px;
    margin-left: -14px;
    border: 2px solid #026882; }



#circles-slider .ui-slider-pip {
  top: 3px; }

  #circles-slider .ui-slider-pip .ui-slider-label {
    width: 10em;
    background: #f1f1f1;
    padding: 10px;
    margin-left: 0em !important;
    left: -64px;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

  }

#circles-slider .ui-slider-pip .ui-slider-label:after {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(241, 241, 241, 0);
	border-bottom-color: #f1f1f1;
	border-width: 10px;
	margin-left: -10px;
}

#circles-slider .ui-slider-pip:nth-child(odd)  .ui-slider-label{
  top: -93px;

  }

#circles-slider .ui-slider-pip:nth-child(odd)  .ui-slider-label:after{
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(241, 241, 241, 0);
	border-top-color: #f1f1f1;
	border-width: 10px;
	margin-left: -10px;
}



  #circles-slider .ui-slider-pip .ui-slider-line {
    width: 9px;
    height: 9px;
    border-radius: 4px;
    margin-left: -2px;
    background: #7f7f7f;
    top: -6px;
}



  #circles-slider .ui-slider-pip.ui-slider-pip-last,
  #circles-slider .ui-slider-pip.ui-slider-pip-first {
    top: 3px; }


    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
      margin: 0;
      }



  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal; }

  #circles-slider .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold; }

  #circles-slider .ui-slider-pip.ui-slider-pip-selected,
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a; }

 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      background: #026882;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 0px solid #0073ea;
	background: #026882;
  outline: 0;

}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 0px solid #dddddd;
	background: #026882;
  outline: 0;

}
