body {
  font-family: 'Roboto', sans-serif;
}

#circles-slider.ui-slider {
  border-radius: 3px;
    background: #c2beb7;
    border: none;
    height: 2px;
    margin: 8em 7em 4em; }

#circles-slider .ui-slider-handle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    top: -15px;
    margin-left: -14px;
    border: 2px solid #ffffff; }



#circles-slider .ui-slider-pip {
  top: 3px; }

  #circles-slider .ui-slider-pip .ui-slider-label {
    width: 13em;
    padding: 10px;
    margin-left: 0em !important;
    left: -64px;
    top: 20px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  #circles-slider .ui-slider-pip .ui-slider-label > span{
    font-size: 18px;
    font-weight: 400;
  }

  #circles-slider .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 20px;
    border-radius: 4px;
    margin-left: -2px;
    background: #7f7f7f;
    top: -12px;
}



  #circles-slider .ui-slider-pip.ui-slider-pip-last,
  #circles-slider .ui-slider-pip.ui-slider-pip-first {
    top: 3px; }


    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
      margin: 0;
      }



  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal; }

  #circles-slider .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold; }

  #circles-slider .ui-slider-pip.ui-slider-pip-selected,
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a; }

 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      background: #00b08a;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 0px solid #00b08a;
	background: #00b08a;
  outline: 0;

}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 0px solid #dddddd;
	background: #00b08a;
  outline: 0;

}

/* Progress Bar Styles */
.pie_progress {
        width: 140px;
        margin: 10px auto;
    }

  @media all and (max-width: 768px) {
        .pie_progress {
            width: 15%;
            max-width: 300px;
        }
    }

#Commercial {
  position: relative;
  left: -400px;
  top: -122px;
}

#Medical {
  position: relative;
  left: -200px;
  top: -167px;
}

#Market_Access {
    position: relative;
    top: -331px;
}

#Patient_Finding {
    position: relative;
    left: 200px;
    top: -492px;
}

#Patient_Support {
    position: relative;
    left: 400px;
    top: -662px;
}

#Functions {
  margin-top: 8em;
}

.function_icon {
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    border-radius: 120px;
    border: 2px solid #2e87d1;
    top: 142px;
    background-image: url("./../img/market_icon.png");
    background-repeat: no-repeat;
    background-position: 28px 29px;
}
